body {
	font-family: Castellar;
}

header {
	height: 100px;
	background-color: black;
}

#div_h1 {
	text-align: center;
}

h1 { 
	font-size: 50pt;
	color: white;
	padding-top: 10px;
	position: absolute, center;
	margin-top: 0px;
}

nav {
	height: 50px;
	background-color: grey;
	font-size: 25pt;
	font-family: Calibri Light;
}

nav > a {
	color: white;
	text-decoration: none;
	padding-left: 20px;
	margin-top: 5px;
	position: absolute;
	font-weight: bold;
}

main {
	background-color: rgb(255,255,102);
	font-family: Calibri Light;
}

#Heading2AndSort {
	text-align: center;
}

h2 {
	font-size: 40px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#SortAndSymbol {
	float: right;
	margin-top: 40px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 25px;
	color: rgb(77,77,77);
}

#movie_container {
	display: flex;
	flex-flow: column;
	padding-bottom: 20px;
	display: inline-block;
	border: 1px solid black;
}

#row_1 {
	display: flex;
	flex-flow: row;
	border: 1px solid black;
}

#poster_Forrest {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie1 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black;
}

#description1 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

.thumb_class {
	border: 0.5px solid lightgrey;
	border-radius: 5px;
	display: inline;
	position: absolute;
	width: 35px;
	height: 35px;
	float: left;
	margin-top: 280px;
	margin-left: 1px;
}

.field_likes {
	border:1px solid lightgrey;
	border-radius:15px;
	background-color:rgb(77,77,77);
	color: white;
	display: inline;
	position: absolute;
	width: 35px;
	height: 35px;
	float: left;
	margin-top: 230px;
	margin-left: 1px;
}

#field_likes_Frida {
	border:1px solid lightgrey;
	border-radius:15px;
	background-color:rgb(77,77,77);
	color: white;
	display: inline;
	position: absolute;
	width: 35px;
	height: 35px;
	float: right;
	margin-top: 200px;
	margin-right: 1px;
}

#thumb_class_Frida {
	border: 0.5px solid lightgrey;
	border-radius: 5px;
	display: inline;
	position: absolute;
	width: 35px;
	height: 35px;
	float: right;
	margin-top: 240px;
	margin-right: 1px;
}

.output_likes {
	position: absolute, center;
	margin: 0 auto;
	margin-top: 5px;

}

#poster_Frida {
	margin-top: 5px;
	display: inline;
	border: 1px solid black;
}

#movie2 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
}

#description2 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
}

#row_2 {
	display: flex;
	flex-flow: row;
	border: 1px solid black;
}

#poster_Indien {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie3 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description3 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

#poster_Tod {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie4 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description4 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}


#row_3 {
	display: flex;
	flex-flow: row;
	border: 1px solid black;
}

#poster_Alice {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie5 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description5 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

#poster_Grießnockerl {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie6 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description6 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

#row_4 {
	display: flex;
	flex-flow: row;
	border: 1px solid black;
}

#poster_CrazyStupidLove {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie7 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description7 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

#poster_BreakingDawn {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
	margin-top: 5px;
	border: 1px solid black;
}

#movie8 {
	font-family: Calibri Light;
	font-size: 20pt;
	font-weight: bold;
	color: rgb(77,77,77);
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black
}

#description8 {
	font-family: Calibri Light;
	font-size: 14pt;
	color: rgb(77,77,77);
	font-weight: bold;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding-top:20px;
	border: 1px solid black;
}

#Number_one {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

#Number_two {
	width: 600px;
	height: 400px;
	border: 1px solid black;
	
}

#Number_three {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

#Number_four {
	width: 600px;
	height: 400px;
	border: 1px solid black;
	
}

#Number_five {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

#Number_six {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}


#Number_seven {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

#Number_eight {
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

footer {
	background-color: black;
	text-align: center;
	height: 100px;
}

h3 {
	color: white;
	font-size: 30px;
	padding-top: 30px;
	margin-top: 0px;
}



/*---------------------media query! --------------------------------*/